@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 200 800;
  src: url('./PlusJakartaSans[wght].ttf') format('truetype');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 200 800;
  src: url('./PlusJakartaSans-Italic[wght].ttf') format('truetype');
}
