NODE_ENV=production
PORT=9000
STORE_CORS=https://www.ffax.com
ADMIN_CORS=https://www.ffax.com
VENDOR_CORS=https://www.ffax.com
AUTH_CORS=https://www.ffax.com
JWT_SECRET=replace-with-random-jwt-secret
COOKIE_SECRET=replace-with-different-random-cookie-secret
FILE_BACKEND_URL=https://www.ffax.com/marketplace-api/static
DISABLE_MEDUSA_ADMIN=true
ZITADEL_ISSUER=https://www.ffax.com
ZITADEL_PROJECT_ID=replace-with-ffax-project-id
ZITADEL_API_CLIENT_ID=replace-with-service-client-id
ZITADEL_API_CLIENT_SECRET=replace-with-service-client-secret
ZITADEL_INTROSPECTION_URL=http://zitadel-api:8080/oauth/v2/introspect
ZITADEL_INSTANCE_HOST=www.ffax.com
